@media ( orientation : landscape) {
	@media ( min-width : 1220px) {
		.md-main__inner.md-grid {
			max-width: 86rem; /** 61rem **/
		}
		.md-header__inner.md-grid {
			max-width: 80rem; /** 61rem **/
		}
		.md-tabs .md-grid {
			max-width: 80rem; /** 61rem **/
		}
		.md-footer__inner.md-grid {
			max-width: 80rem; /** 61rem **/
		}
	}
}

:root {
	--md-primary-fg-color: #00874d;
	--md-primary-fg-color--light: #00bb6b;
	--md-primary-fg-color--dark: #376350;
}

[data-md-color-scheme="default"] {
	--md-primary-fg-color: #00874d;
	--md-primary-fg-color--light: #00bb6b;
	--md-primary-fg-color--dark: #376350;
}

[data-md-color-scheme="slate"] {
	--md-primary-fg-color: #376350;
	--md-primary-fg-color--light: #00bb6b;
	--md-primary-fg-color--dark: #376350;
}

@media only screen and (prefers-color-scheme: light) {
    :root:not([data-md-color-scheme="slate"]) {
	--md-primary-fg-color: #00874d;
	--md-primary-fg-color--light: #00bb6b;
	--md-primary-fg-color--dark: #376350;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-md-color-scheme="default"]) {
	--md-primary-fg-color: #376350;
	--md-primary-fg-color--light: #00bb6b;
	--md-primary-fg-color--dark: #376350;
    }
}

tr.header {
    border-top-width: thin;
}

th {
    background-color: #00b0ff1a !important;
    border-color: #00b0ff;
}

div.returns th {
    background-color: #64dd171a !important;
    border-color: #64dd17;
}

div.exceptions th {
    background-color: #ff17441a !important;
    border-color: #ff1744;
}

th:not(th:last-child), td:not(td:last-child) {
    border-right-width: thin;
}

tr:not(tr:last-child) {
    border-bottom-width: thin;
}

tr.odd, tr.even {
    vertical-align: middle;
}

td ul {
    margin-bottom: 0 !important;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5 {
	margin-top: 0;
	margin-bottom: 0;
}

.md-typeset .admonition, .md-typeset details {
	font-size: 0.75rem
}

.md-typeset table:not([class]) th, .md-typeset table:not([class]) td {
	padding: .5em;
	vertical-align: middle;
}

.md-typeset table:not([class]) {
    border-color: #00b0ff !important;
}

.md-typeset .returns table:not([class]) {
    border-color: #64dd17 !important;
}

.md-typeset .exceptions table:not([class]) {
    border-color: #ff1744 !important;
}
